pom.properties
target/m2e-wtp/web-resources/META-INF/maven/com.rodolfo.webapp/mywebapp/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/com.rodolfo.webapp/mywebapp/pom.properties
*.properties
